name: build
on:
  push:
    branches: [dev, staging, main]
  pull_request:
    branches: [staging, main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: echo "build ok"
